/* The sidenav */
.sidenav {
    height: 100%;
    width: 17rem;
    position: fixed;
    margin-top: 70px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--mainBlue);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Page content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }